body {
    background-color: rgb(255, 246, 236);
    text-align: center;
    margin: 50px;
  }
  .converter {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: auto;
  }
  input {
    font-size: 1rem;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%;
  }
  select, button {
    font-size: 1rem;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
  }
  .result {
    background-color: rgb(133, 249, 133);
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }